extends layout

block content
    .archive_container
      h1.name Cody Weekly
      h3 Past issues of Cody Weekly newsletter
      span.icon
      .list
        div
          | Issue #0: 
          a(href='/issue0') Cody Weekly issue 0
    h1.divider