extends layout

block content
    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse:collapse;border:1px dotted #87da50;max-width:600px!important;margin:auto;')
      tbody
        tr
          td(valign='top', style='background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px')
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
              tbody
                tr
                  td(valign='top')
                    table(align='left', border='0', cellpadding='0', cellspacing='0', width='365', style='border-collapse:collapse')
                      tbody
                        tr
                          td(valign='top', style='padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:0;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left')
                            span.il Cody
                            span.il weekly
                            |  newsletter - curated by Carter with
                    table(align='right', border='0', cellpadding='0', cellspacing='0', width='197', style='border-collapse:collapse')
                      tbody
                        tr
                          td(valign='top', style='padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left')
                            a(style='color:#656565;font-weight:normal;text-decoration:underline') View this email in your browser
        tr
          td(valign='top', style='background-color:#ffffff;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0')
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
              tbody
                tr
                  td(valign='top')
                    table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
                      tbody
                        tr
                          td(style='padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:18px')
                            table(border='0', cellpadding='18', cellspacing='0', width='100%', style='min-width:100%!important;background-color:#77db63;border-collapse:collapse')
                              tbody
                                tr
                                  td(valign='top', style='color:#f2f2f2;font-family:Helvetica;font-size:14px;font-weight:normal;text-align:right;word-break:break-word;line-height:150%')
                                    h3(style='display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:20px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left')
                                      span(style='font-family:georgia,times,times new roman,serif')
                                        span.il Cody
                                        span.il Weekly
        tr
          td(valign='top', style='background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px')
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
              tbody
                tr
                  td(valign='top')
                    table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
                      tbody
                        tr
                          td(valign='top', style='padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                            h1(style='display:block;margin:0;padding:0;color:#59af60;font-family:Helvetica;font-size:22px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left') Articles
                            h4(style='display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:18px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left')
                              a(href='http://twitter.github.io/labella.js/?utm_source=javascriptweekly&utm_medium=email', style='color:#2baadf;font-weight:normal;text-decoration:underline', target='_blank') Labella.js: For Non-Overlapping Labels Along Lines
                            p(style='margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                              | If you need to label numerous points along a line, working out where to place the labels could be tricky. Labella handles it elegantly; see the examples.
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse;table-layout:fixed!important')
              tbody
                tr
                  td(style='min-width:100%;padding:18px')
                    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-top-width:2px;border-top-style:solid;border-top-color:#eaeaea;border-collapse:collapse')
                      tbody
                        tr
                          td
                            span
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
              tbody
                tr
                  td(valign='top')
                    table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
                      tbody
                        tr
                          td(valign='top', style='padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                            h1(style='display:block;margin:0;padding:0;color:#59af60;font-family:Helvetica;font-size:22px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left') News
                            h4(style='line-height:20.7999992370605px;display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:18px;font-style:normal;font-weight:bold;letter-spacing:normal;text-align:left')
                              a(href='http://twitter.github.io/labella.js/?utm_source=javascriptweekly&utm_medium=email', style='color:#2baadf;font-weight:normal;text-decoration:underline', target='_blank') Labella.js: For Non-Overlapping Labels Along Lines
                            p(style='line-height:20.7999992370605px;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;text-align:left')
                              | If you need to label numerous points along a line, working out where to place the labels could be tricky. Labella handles it elegantly; see the examples.
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse;table-layout:fixed!important')
              tbody
                tr
                  td(style='min-width:100%;padding:18px')
                    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-top-width:2px;border-top-style:solid;border-top-color:#eaeaea;border-collapse:collapse')
                      tbody
                        tr
                          td
                            span
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
              tbody
                tr
                  td(valign='top')
                    table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
                      tbody
                        tr
                          td(valign='top', style='padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left')
                            h1(style='display:block;margin:0;padding:0;color:#59af60;font-family:Helvetica;font-size:22px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left') Code
                            ul
                              li
                                a(href='https://github.com/angular/protractor', style='color:#2baadf;font-weight:normal;text-decoration:underline', target='_blank')
                                  span(style='color:#666666;font-family:helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;font-size:16px;line-height:22.3999996185303px') Protracter - E2E test framework for Angular apps
        tr
          td(valign='top', style='background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px')
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%;border-collapse:collapse')
              tbody