body {
  background-image: url(../images/wavegrid.png);
}

.box {
  margin:auto auto;
  width:930px;
  text-align:center;
  color:#5F6263;
  font-size:20px;
  padding-top:60px;
}

.name {
  margin-bottom:20px;
  font-size:80px;
  color:black;
}

.subtitle {
  margin-bottom:40px;
  font-weight:bold;
  font-size:22px;
}

.sub {
  margin-bottom:40px;
}

.sub input{
  line-height:50px;
  height:50px;
  padding-left:10px;
  font-size:20px;
  border:solid 2px black;
  width:330px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-right:10px;
}

.sub form {
  text-align:center;
  background-image: url(../images/wavegrid.png);
}

.sub input#mc-embedded-subscribe {
  height:65px;
  background-color:orange;
  color:white;
  font-weight:bold;
  border:solid 2px black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size:17px;
  padding-top:5px;
  cursor:pointer;
}

p.desc {
  margin-top:50px;
  font-weight:500;
  font-size:25px;
  margin-left:60px;
  margin-right:60px;
}

p.trial {
  font-weight:bold;
  color:#A0A2A3;
}

.box a{
  color:#178fd1;
  text-decoration:none;
}

.attribute {
  color:#A0A2A3;
  font-size:15px;
}

.attribute span{
  color:red;
}

.box .attribute a{
  border-bottom:1px dotted;
}

.divider {
  width:100%;
  border:solid 4px orange; 
  position:absolute;
  bottom:10px;
}

.archive_container {
  width:70%;
  margin: 0 auto;
  text-align:center;
}

.archive_container a {
  text-decoration:none;
}

.archive_container .list {
  margin-top:10px;
}

.archive_container .list div {
    border-top: 1px solid #C4C9CC;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}

.archive_container .name {
    margin-bottom: 20px;
    font-size: 80px;
    color: black;
}

.archive_container h3{
  color:#5F6263
}

.archive_container .icon {
    background-image: url(../images/snow.png);
    height: 32px;
    width: 32px;
    display: inline-block;
}
}